doctype 5
#container
h1= title
#display
      #mail        
        form(method='post', action='/send')
            div
            | Using: 
            input(type='text', name='scid', value= raw, readonly='')
            div
            br
            b Mail subject:
            div
                input(type='text', name='subject',style='width: 192px;')
            div
            b Text above soundcloud player: 
            div
                input(type='text', name='toptext', style='width: 400px;')
            iframe(width='800', height='166', scrolling='no', frameborder='no', src= id)
            div
            b Text below soundcloud player: 
            div
                input(type='text', name='floortext', style='width: 400px;')
            | Send email to (email1@site.com,email2@site.org,email3@site.net): 
            div
                input(type='text', style='width: 400px;', name='address')
            div
                input(type='submit', value='Send email')
    #errormsg
            div
            br
            br
            br
            = errormsg

    #back
        form(method='get', action='/')
            div
                input(type='submit', value='Back')
    #logout        
        form(method='post', action='/')
            div
                input(type='submit', value='Log Out')
