#container
h1= title
#display
    #embed        
        form(method='post', action='/embed')
            | SoundCloud ID:
            div
                input(type='text', name='code')
                input(type='submit', value='Embed')
    #logout        
        form(method='post')
            div
                input(type='submit', value='Log Out')
