#container
h1= title
#display
    #login        
        form(method='post')
            | Password:
            div
                input(type='password', name='password')
                input(type='submit', value='Log In')
